<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to second html web page</h1>
        <a href="{% url 'B:three' %}">go to third html web page</a><br>
        <a href="{% url 'B:four' %}">go to fourth html web page</a><br>
        <a href="{% url 'C:five' %}">go to fifth html web page</a><br>
        <a href="{% url 'C:six' %}">go to sixth html web page</a><br>
        <a href="{% url 'one' %}">go to first html web page</a><br>
    </center>
</body>
</html>